
	Moleskine Theme By Hubert Florin (who hates IE6 and will 
	open a big bottle of champagne the day it goes under 10% of share on W3school)
	
	Internet Explorer 6 Stylesheet
*/

*{
	word-wrap:break-word;
}
#logo-title-inner, .breadcrumb, ul.primary, #mission{
	/* holy hack (in holy grail layout.. ha ha !) */
	height:1%;
}
ul.primary li a{
	padding-top:0;
}
ul.primary {
	padding-top:3px;
}
#sidebar-right .more-link {
	background-position:117px 8px;
}
.poll .vote-form .choices{
	margin-left:150px;
}