
	Moleskine Theme By Hubert Florin
	
	Internet Explorer 7 Stylesheet
	
*/

*{
	word-wrap:break-word;
}
ul.primary li a{
	padding-top:0;
}
#sidebar-right .more-link {
	background-position:117px 8px;
}
.poll .vote-form .choices{
	margin-left:150px;
}